@font-face {
    font-family: outrun-font;
    src: url(outrun_future.otf);
}
@font-face {
    font-family: vcr-osd;
    src: url(vcr_osd_mono.ttf);
}
/*----- Toggle Button -----*/
.toggle-nav {
	display:none;
}

/*----- Menu -----*/
@media screen and (min-width: 800px) {
	.navmenu {
	width:100%;
    padding:20px 18px 0 18px;
    margin: 10px 0;
    position: center;
	/*box-shadow:0px 1px 1px rgba(0,0,0,0.15);*/
	border-radius:3px;
    background:transparent;
    /*it's white so that I can see the margin of the container*/
	}
}

.navmenu ul {
    display:flex;
    margin-bottom: 35px;
    justify-content: space-around;
}

.navmenu li {
	margin:0px 50px 0px 0px;
    float:left;
	list-style:none;
    font-size:17px;
    text-align: justify;
}

.navmenu li:last-child {
	margin-right:0px;
}

.navmenu a {
	text-shadow:0px 1px 0px rgba(0,0,0,0.5);
	color:rgba(45, 226, 230, 0.8);
    transition:color linear 0.15s;
    font-family: vcr-osd;
}

.navmenu a:hover, .navmenu .current-item a {
	text-decoration:none;
	color:rgba(45, 226, 230, 1);
}

/*----- Search -----*/
/*.search-form {
	float:right;
	display:inline-block;
}

.search-form input {
	width:200px;
	height:30px;
	padding:0px 8px;
	float:left;
	border-radius:2px 0px 0px 2px;
	font-size:13px;
}

.search-form button {
	height:30px;
	padding:0px 7px;
	float:right;
	border-radius:0px 2px 2px 0px;
	background:#66a992;
	font-size:13px;
	font-weight:600;
	text-shadow:0px 1px 0px rgba(0,0,0,0.3);
	color:#fff;
}*/

/*----- Responsive -----*/
@media screen and (max-width: 1150px) {
	.wrap {
		width:90%;
	}
}

@media screen and (max-width: 970px) {
	.search-form input {
		width:120px;
	}
}

@media screen and (max-width: 800px) {
	.navmenu {
		position:relative;
        display:inline-block;
	}

	.navmenu ul.active {
		display:none;
	}

	.navmenu ul {
		width:auto;
        position:absolute;
        z-index: 2;
		top:120%;
        left:50%;
        transform: translateX(-50%);
        padding:10px 18px;
		/*box-shadow:0px 1px 1px rgba(0,0,0,0.15);*/
		border-radius:3px;
		background:transparent;
		flex-wrap: wrap;
        
        /*it's white so that I can see the margin of the container*/
	}

	.navmenu ul:after {
		width:0px;
		height:0px;
		position:absolute;
		top:0%;
		left:31px;
		content:'';
		transform:translate(0%, -100%);
		border-left:7px solid transparent;
		border-right:7px solid transparent;
        border-bottom:7px solid rgba(45, 226, 230, 0.8);
	}

	.navmenu li {
		margin:5px 0px 5px 0px;
		float:none;
		display:block;
		border-bottom: solid lawngreen;
	}

	.navmenu a {
		display:block;
	}

	.toggle-nav {
		padding:20px;
		float:left;
		display:block;
		/*box-shadow:0px 1px 1px rgba(0,0,0,0.15);*/
		border-radius:3px;
		background:transparent;
		text-shadow:0px 1px 0px rgba(0,0,0,0.5);
		color:rgba(45, 226, 230, 0.8);
		font-size:20px;
		transition:color linear 0.15s;
	}

	.toggle-nav:hover, .toggle-nav.active {
		text-decoration:none;
		color:#66a992;
	}

	/*.search-form {
		margin:12px 0px 0px 20px;
		float:left;
	}

	.search-form input {
		box-shadow:-1px 1px 2px rgba(0,0,0,0.1);
	}*/
}