@font-face {
    font-family: outrun-font;
    src: url(outrun_future.otf);
}
@font-face {
    font-family: vcr-osd;
    src: url(vcr_osd_mono.ttf);
}
html {
	height: 100%;
}
.carousel-inner .carousel-item a img, .carousel-inner .carousel-item img {
  margin: auto;
  max-height: 65vh;
}
body footer {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.7);
  font-family: outrun-font;
  margin: 20px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}
.spacer {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ffffff;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #fdf800;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}
body footer .item-link {
  text-decoration: none;
  color: inherit;
}
body {
    /*https://i.redd.it/aepphltiqy911.png*/
    background: #390970; /* fallback for old browsers*/
    background: -webkit-linear-gradient(top, #390970 0%, #650d89 25%, #920075 75%, #f6019d 100%);
    background: -moz-linear-gradient(top, #390970 0%, #650d89 25%, #920075 75%, #f6019d 100%);
    background: linear-gradient(to bottom, #390970 0%, #650d89 25%, #920075 75%, #f6019d 100%);
    background-repeat: repeat-x;
}
/*Webkit: -webkit-transition:;
– Firefox: -moz-transition:;
– IE: -ms-transition:;
– Opera: -o-transition:; – Please note that Opera now runs on Webkit so this one is outdated but still good to know.*/
/*body {*/
    /*https://gracefulgradients.com/gradient/synthwave-symphony#*/
    /*background: #a7edfa; /* fallback for old browsers*/
    /*background: -webkit-linear-gradient(top, #a7edfa 0%, #8ce6ee 25%, #f0c5df 75%, #c86d95 100%);
    background: -moz-linear-gradient(top, #a7edfa 0%, #8ce6ee 25%, #f0c5df 75%, #c86d95 100%);
    background: linear-gradient(to bottom, #a7edfa 0%, #8ce6ee 25%, #f0c5df 75%, #c86d95 100%);
    background-repeat: repeat-x;
}*/
